# Markdown (si quieres que cuenten en las estadísticas del repo)
*.md linguist-detectable=true
*.md linguist-documentation=false

# JSON y YAML
*.json linguist-detectable=true
*.yaml linguist-detectable=true
*.yml linguist-detectable=true

# Archivos de configuración
*.conf linguist-detectable=true
*.conf linguist-language=INI

# Scripts de Shell
*.sh linguist-detectable=true
*.sh linguist-language=Shell